/******************************************************************************/
/*   ____    _    ____    _                                                   */
/*  |  _ \  / \  / ___|  / \                                                  */
/*  | | | |/ _ \ \___ \ / _ \                                                 */
/*  | |_| / ___ \ ___) / ___ \    Theme for Reveal.js                         */
/*  |____/_/   \_\____/_/   \_\   Drupal Association South Africa             */
/*                                                                            */
/******************************************************************************/
/* Theme for Reveal.js                                                    */
/**************************************************************************/
/******************************************************************************/
/* Fonts                                                                      */
/******************************************************************************/
@font-face {
  font-family: "PT Sans";
  src: url('fonts/pt_sans/pt_sans-web-regular-webfont.eot');
  src: url('fonts/pt_sans/pt_sans-web-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pt_sans/pt_sans-web-regular-webfont.ttf') format('truetype'), url('fonts/pt_sans/pt_sans-web-regular-webfont.woff') format('woff'), url('fonts/pt_sans/pt_sans-web-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url('fonts/pt_sans/pt_sans-web-bold-webfont.eot');
  src: url('fonts/pt_sans/pt_sans-web-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pt_sans/pt_sans-web-bold-webfont.ttf') format('truetype'), url('fonts/pt_sans/pt_sans-web-bold-webfont.woff') format('woff'), url('fonts/pt_sans/pt_sans-web-bold-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url('fonts/pt_sans/pt_sans-web-italic-webfont.eot');
  src: url('fonts/pt_sans/pt_sans-web-italic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pt_sans/pt_sans-web-italic-webfont.ttf') format('truetype'), url('fonts/pt_sans/pt_sans-web-italic-webfont.woff') format('woff'), url('fonts/pt_sans/pt_sans-web-italic-webfont.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "PT Sans";
  src: url('fonts/pt_sans/pt_sans-web-bolditalic-webfont.eot');
  src: url('fonts/pt_sans/pt_sans-web-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pt_sans/pt_sans-web-bolditalic-webfont.ttf') format('truetype'), url('fonts/pt_sans/pt_sans-web-bolditalic-webfont.woff') format('woff'), url('fonts/pt_sans/pt_sans-web-bolditalic-webfont.svg') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Archivo Narrow";
  src: url('fonts/archivonarrow/archivonarrow-bold-webfont.eot');
  src: url('fonts/archivonarrow/archivonarrow-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/archivonarrow/archivonarrow-bold-webfont.ttf') format('truetype'), url('fonts/archivonarrow/archivonarrow-bold-webfont.woff') format('woff'), url('fonts/archivonarrow/archivonarrow-bold-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Archivo Narrow";
  src: url('fonts/archivonarrow/archivonarrow-bolditalic-webfont.eot');
  src: url('fonts/archivonarrow/archivonarrow-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/archivonarrow/archivonarrow-bolditalic-webfont.ttf') format('truetype'), url('fonts/archivonarrow/archivonarrow-bolditalic-webfont.woff') format('woff'), url('fonts/archivonarrow/archivonarrow-bolditalic-webfont.svg') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url('fonts/ubuntumono/ubuntumono-regular-webfont.eot');
  src: url('fonts/ubuntumono/ubuntumono-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/ubuntumono/ubuntumono-regular-webfont.ttf') format('truetype'), url('fonts/ubuntumono/ubuntumono-regular-webfont.woff') format('woff'), url('fonts/ubuntumono/ubuntumono-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url('fonts/ubuntumono/ubuntumono-bold-webfont.eot');
  src: url('fonts/ubuntumono/ubuntumono-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/ubuntumono/ubuntumono-bold-webfont.ttf') format('truetype'), url('fonts/ubuntumono/ubuntumono-bold-webfont.woff') format('woff'), url('fonts/ubuntumono/ubuntumono-bold-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

/******************************************************************************/
/* Variables                                                                  */
/******************************************************************************/
/******************************************************************************/
/* General Styles                                                             */
/******************************************************************************/
/* line 176, source/theme.scss */
body {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #ebebeb));
  background-image: -webkit-radial-gradient(#ffffff, #ebebeb);
  background-image: -moz-radial-gradient(#ffffff, #ebebeb);
  background-image: -o-radial-gradient(#ffffff, #ebebeb);
  background-image: radial-gradient(#ffffff, #ebebeb);
}

/* line 179, source/theme.scss */
.reveal, .reveal p {
  font-family: "PT Sans", sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: #312d2e;
  line-height: 38px;
  letter-spacing: -0.02em;
}

/* line 187, source/theme.scss */
::selection {
  color: white;
  background: #e81e26;
  text-shadow: none;
}

/* line 190, source/theme.scss */
.reveal code {
  font-family: "Ubuntu Mono";
  font-size: 24px;
  color: white;
  line-height: 24px;
  letter-spacing: 0;
  display: inline-block;
  padding: 3px 10px 2px 10px;
  background: #312d2e;
  position: relative;
  top: -3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: #312d2e 0 0 5px;
  -moz-box-shadow: #312d2e 0 0 5px;
  box-shadow: #312d2e 0 0 5px;
}

/* line 203, source/theme.scss */
.reveal pre {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 976px;
}

/* line 207, source/theme.scss */
.reveal pre code {
  display: block;
  padding: 8px;
  line-height: 1.05em;
}

/******************************************************************************/
/* Headings                                                                   */
/******************************************************************************/
/* line 215, source/theme.scss */
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
  font-family: "Archivo Narrow", sans-serif;
  font-weight: 700;
  color: #0d5b90;
  letter-spacing: -0.03em;
  margin: 0.2em 0;
  text-shadow: 0 1px 0 white, 0 1px 4px #312d2e;
}

/* line 223, source/theme.scss */
.reveal h1 {
  text-shadow: 0 1px 0 #e0e0e0, 0 2px 0 #dbdbdb, 0 3px 0 #d6d6d6, 0 4px 0 #d1d1d1, 0 5px 0 #cccccc, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.3), 0 6px 5px rgba(0, 0, 0, 0.2), 0 6px 10px rgba(0, 0, 0, 0.25), 0 20px 20px rgba(0, 0, 0, 0.15);
}

/* line 224, source/theme.scss */
.reveal h1 {
  font-size: 109px;
}

/* line 225, source/theme.scss */
.reveal h2 {
  font-size: 79px;
}

/* line 226, source/theme.scss */
.reveal h3 {
  font-size: 64px;
}

/* line 227, source/theme.scss */
.reveal h4 {
  font-size: 49px;
}

/* line 228, source/theme.scss */
.reveal h5 {
  font-size: 34px;
}

/******************************************************************************/
/* Links                                                                      */
/******************************************************************************/
/* line 232, source/theme.scss */
.reveal a:not(.image) {
  color: #128e45;
  text-decoration: none;
}

/* line 236, source/theme.scss */
.reveal a:not(.image):hover {
  color: #0878be;
}

/******************************************************************************/
/* Lists                                                                      */
/******************************************************************************/
/* line 242, source/theme.scss */
.reveal ul {
  margin: 0;
  padding: 0;
  list-style-type: disc;
}
/* line 245, source/theme.scss */
.reveal ul li {
  padding: 5px 0;
}
/* line 246, source/theme.scss */
.reveal ul ul {
  list-style-type: circle;
}

/******************************************************************************/
/* Navigation Controls                                                        */
/******************************************************************************/
/* line 252, source/theme.scss */
.reveal .controls div.navigate-left, .reveal .controls div.navigate-left.enabled {
  border-right-color: #0d5b90;
}
/* line 255, source/theme.scss */
.reveal .controls div.navigate-right, .reveal .controls div.navigate-right.enabled {
  border-left-color: #0d5b90;
}
/* line 258, source/theme.scss */
.reveal .controls div.navigate-up, .reveal .controls div.navigate-up.enabled {
  border-bottom-color: #0d5b90;
}
/* line 261, source/theme.scss */
.reveal .controls div.navigate-down, .reveal .controls div.navigate-down.enabled {
  border-top-color: #0d5b90;
}
/* line 264, source/theme.scss */
.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #128e45;
}
/* line 267, source/theme.scss */
.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #128e45;
}
/* line 270, source/theme.scss */
.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #128e45;
}
/* line 273, source/theme.scss */
.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #128e45;
}

/******************************************************************************/
/* Progress Bar                                                               */
/******************************************************************************/
/* line 280, source/theme.scss */
.reveal .progress {
  top: 0;
  height: 5px;
  background: #f6c213;
}

/* line 285, source/theme.scss */
.reveal .progress span {
  background: #e81e26;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}

/******************************************************************************/
/* Slides                                                                     */
/******************************************************************************/
/* line 292, source/theme.scss */
html.end body {
  background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, color-stop(0%, #ffffff), color-stop(100%, #8e9ea8));
  background-image: -webkit-radial-gradient(#ffffff, #8e9ea8);
  background-image: -moz-radial-gradient(#ffffff, #8e9ea8);
  background-image: -o-radial-gradient(#ffffff, #8e9ea8);
  background-image: radial-gradient(#ffffff, #8e9ea8);
}
/* line 295, source/theme.scss */
html.end body .reveal .progress,
html.end body .reveal .controls {
  opacity: 0;
}

/******************************************************************************/
/* Signature                                                                  */
/******************************************************************************/
/* line 300, source/theme.scss */
#dasa-signature {
  display: block;
  width: 283px;
  height: 80px;
  position: fixed;
  left: 25px;
  bottom: 25px;
  background: url("img/logo/logo.png");
  z-index: 25;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  opacity: 0.9;
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  -o-transition: opacity 300ms;
  transition: opacity 300ms;
}
/* line 308, source/theme.scss */
#dasa-signature:hover {
  opacity: 1;
}

/******************************************************************************/
